In [40]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [115]:
data = pd.read_csv('C:/Users/signi/Downloads/Linear Regression/Restaurant_Profit_Data.csv')

In [116]:
data.head()

,Miscellaneous_Expenses,Food_Innovation_Spend,Advertising,City,Profit
0,138671.80,167497.20,475918.10,Chicago,202443.83
1,153151.59,164745.70,448032.53,Mumbai,201974.06
2,102919.55,155589.51,412068.54,Tokyo,201232.39
3,120445.85,146520.41,387333.62,Chicago,193083.99
4,93165.77,144255.34,370302.42,Tokyo,176369.94

In [120]:
ohe=pd.get_dummies(data['City'])
ohe
data = pd.concat([data.reset_index(drop=True),ohe],axis=1)
data
data = data.drop('City',axis=1)
data

,Miscellaneous_Expenses,Food_Innovation_Spend,Advertising,Profit,Chicago,Mumbai,Tokyo
0,138671.80,167497.20,475918.10,202443.83,1,0,0
1,153151.59,164745.70,448032.53,201974.06,0,1,0
2,102919.55,155589.51,412068.54,201232.39,0,0,1
3,120445.85,146520.41,387333.62,193083.99,1,0,0
4,93165.77,144255.34,370302.42,176369.94,0,0,1
5,101588.71,134024.90,366995.36,167173.12,1,0,0
6,148972.87,136763.46,131850.82,166304.51,0,1,0
7,147304.06,132446.13,328010.68,165934.60,0,0,1
8,150492.95,122690.52,315747.29,162393.77,1,0,0
9,110453.17,125482.88,309115.62,159941.96,0,1,0
10,112368.11,104061.08,233294.95,156303.95,0,0,1
11,93564.61,102819.96,253878.55,154441.40,0,1,0
12,129094.38,96011.75,253973.44,151767.52,0,0,1
13,137269.07,94140.39,256798.93,144489.35,0,1,0
14,158321.42,122091.24,260646.92,142784.65,0,0,1
15,124390.84,116671.61,265910.23,140099.04,1,0,0
16,123371.55,80161.11,268480.06,137174.93,0,1,0
17,146851.58,96805.16,286708.31,135552.37,1,0,0
18,115949.79,93897.16,299053.57,134448.90,0,0,1
19,155288.11,88567.70,4134.00,132958.86,1,0,0
20,115641.30,78401.86,302798.47,128656.03,0,1,0
21,155547.43,80537.47,303871.29,121495.02,1,0,0
22,124556.75,76142.56,307453.26,120534.25,0,0,1
23,107525.03,69680.53,308902.73,118915.99,0,0,1
24,101055.34,79192.01,144708.81,118734.04,1,0,0
25,141327.16,66812.71,142096.62,117586.34,0,1,0
26,145909.98,77476.87,138184.07,115915.54,0,0,1
27,129638.55,74255.60,357317.81,115190.31,1,0,0
28,184419.56,68199.52,122282.20,113464.38,0,0,1
29,154806.06,67753.48,111272.38,111186.64,1,0,0
30,117415.28,64142.48,95265.24,110119.59,0,0,1
31,154475.92,63284.38,92352.23,107665.56,1,0,0
32,130993.61,65556.86,50219.25,107609.84,0,1,0
33,104831.49,57641.95,218768.81,106960.92,0,0,1
34,159467.92,48574.07,214931.67,106894.80,0,1,0
35,86821.44,48162.02,209651.64,106661.51,1,0,0
36,128830.21,30811.76,205260.82,100890.19,0,0,1
37,53057.14,46217.95,201163.42,100131.14,0,1,0
38,67721.93,22377.59,189399.10,91411.06,1,0,0
39,84756.09,40706.51,179133.30,91187.76,0,1,0
40,120320.05,30902.33,176929.67,88421.91,0,1,0
41,86484.77,30040.92,168604.71,87980.83,0,0,1
42,97963.63,25788.93,152135.11,81680.49,0,1,0
43,129156.30,17653.73,39668.17,79940.98,1,0,0
44,156580.14,24325.74,32468.72,75382.33,0,1,0
45,125927.04,3148.23,6037.93,75108.08,1,0,0
46,117590.21,3463.46,301248.46,59672.75,0,0,1
47,137200.92,2148.00,4134.00,52741.73,0,1,0
48,53517.15,2690.05,4134.00,45855.41,1,0,0
49,118757.80,2148.00,49307.06,24863.40,0,1,0

In [133]:
features = ["Miscellaneous_Expenses","Advertising","Chicago","Mumbai"]
response = ["Profit"]
# X is independent variables
# Y is dependent variable
X=data[features].values
y=data[response].values
X

array([[1.3867180e+05, 4.7591810e+05, 1.0000000e+00, 0.0000000e+00],
       [1.5315159e+05, 4.4803253e+05, 0.0000000e+00, 1.0000000e+00],
       [1.0291955e+05, 4.1206854e+05, 0.0000000e+00, 0.0000000e+00],
       [1.2044585e+05, 3.8733362e+05, 1.0000000e+00, 0.0000000e+00],
       [9.3165770e+04, 3.7030242e+05, 0.0000000e+00, 0.0000000e+00],
       [1.0158871e+05, 3.6699536e+05, 1.0000000e+00, 0.0000000e+00],
       [1.4897287e+05, 1.3185082e+05, 0.0000000e+00, 1.0000000e+00],
       [1.4730406e+05, 3.2801068e+05, 0.0000000e+00, 0.0000000e+00],
       [1.5049295e+05, 3.1574729e+05, 1.0000000e+00, 0.0000000e+00],
       [1.1045317e+05, 3.0911562e+05, 0.0000000e+00, 1.0000000e+00],
       [1.1236811e+05, 2.3329495e+05, 0.0000000e+00, 0.0000000e+00],
       [9.3564610e+04, 2.5387855e+05, 0.0000000e+00, 1.0000000e+00],
       [1.2909438e+05, 2.5397344e+05, 0.0000000e+00, 0.0000000e+00],
       [1.3726907e+05, 2.5679893e+05, 0.0000000e+00, 1.0000000e+00],
       [1.5832142e+05, 2.6064692e+05, 0.0000000e+00, 0.0000000e+00],
       [1.2439084e+05, 2.6591023e+05, 1.0000000e+00, 0.0000000e+00],
       [1.2337155e+05, 2.6848006e+05, 0.0000000e+00, 1.0000000e+00],
       [1.4685158e+05, 2.8670831e+05, 1.0000000e+00, 0.0000000e+00],
       [1.1594979e+05, 2.9905357e+05, 0.0000000e+00, 0.0000000e+00],
       [1.5528811e+05, 4.1340000e+03, 1.0000000e+00, 0.0000000e+00],
       [1.1564130e+05, 3.0279847e+05, 0.0000000e+00, 1.0000000e+00],
       [1.5554743e+05, 3.0387129e+05, 1.0000000e+00, 0.0000000e+00],
       [1.2455675e+05, 3.0745326e+05, 0.0000000e+00, 0.0000000e+00],
       [1.0752503e+05, 3.0890273e+05, 0.0000000e+00, 0.0000000e+00],
       [1.0105534e+05, 1.4470881e+05, 1.0000000e+00, 0.0000000e+00],
       [1.4132716e+05, 1.4209662e+05, 0.0000000e+00, 1.0000000e+00],
       [1.4590998e+05, 1.3818407e+05, 0.0000000e+00, 0.0000000e+00],
       [1.2963855e+05, 3.5731781e+05, 1.0000000e+00, 0.0000000e+00],
       [1.8441956e+05, 1.2228220e+05, 0.0000000e+00, 0.0000000e+00],
       [1.5480606e+05, 1.1127238e+05, 1.0000000e+00, 0.0000000e+00],
       [1.1741528e+05, 9.5265240e+04, 0.0000000e+00, 0.0000000e+00],
       [1.5447592e+05, 9.2352230e+04, 1.0000000e+00, 0.0000000e+00],
       [1.3099361e+05, 5.0219250e+04, 0.0000000e+00, 1.0000000e+00],
       [1.0483149e+05, 2.1876881e+05, 0.0000000e+00, 0.0000000e+00],
       [1.5946792e+05, 2.1493167e+05, 0.0000000e+00, 1.0000000e+00],
       [8.6821440e+04, 2.0965164e+05, 1.0000000e+00, 0.0000000e+00],
       [1.2883021e+05, 2.0526082e+05, 0.0000000e+00, 0.0000000e+00],
       [5.3057140e+04, 2.0116342e+05, 0.0000000e+00, 1.0000000e+00],
       [6.7721930e+04, 1.8939910e+05, 1.0000000e+00, 0.0000000e+00],
       [8.4756090e+04, 1.7913330e+05, 0.0000000e+00, 1.0000000e+00],
       [1.2032005e+05, 1.7692967e+05, 0.0000000e+00, 1.0000000e+00],
       [8.6484770e+04, 1.6860471e+05, 0.0000000e+00, 0.0000000e+00],
       [9.7963630e+04, 1.5213511e+05, 0.0000000e+00, 1.0000000e+00],
       [1.2915630e+05, 3.9668170e+04, 1.0000000e+00, 0.0000000e+00],
       [1.5658014e+05, 3.2468720e+04, 0.0000000e+00, 1.0000000e+00],
       [1.2592704e+05, 6.0379300e+03, 1.0000000e+00, 0.0000000e+00],
       [1.1759021e+05, 3.0124846e+05, 0.0000000e+00, 0.0000000e+00],
       [1.3720092e+05, 4.1340000e+03, 0.0000000e+00, 1.0000000e+00],
       [5.3517150e+04, 4.1340000e+03, 1.0000000e+00, 0.0000000e+00],
       [1.1875780e+05, 4.9307060e+04, 0.0000000e+00, 1.0000000e+00]])

In [159]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [160]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [161]:
model = LinearRegression()

In [162]:
model = model.fit(X_train,y_train)

In [163]:
print(model.coef_)
print(model.intercept_)

[[4.61702775e-01 2.44660329e-01 1.93732670e+04 1.10421844e+04]]
[397.19764755]

In [156]:
import statsmodels.api as sm
X_with_constant = sm.add_constant(X_train)
model = sm.OLS(y_train, X_with_constant)
results = model.fit()
results.params
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.675
Model:                            OLS   Adj. R-squared:                  0.632
Method:                 Least Squares   F-statistic:                     15.57
Date:                Sat, 03 Sep 2022   Prob (F-statistic):           5.34e-07
Time:                        22:53:45   Log-Likelihood:                -403.43
No. Observations:                  35   AIC:                             816.9
Df Residuals:                      30   BIC:                             824.6
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        397.1976   2.57e+04      0.015      0.988   -5.21e+04    5.29e+04
x1             0.4617      0.176      2.625      0.013       0.103       0.821
x2             0.2447      0.035      6.958      0.000       0.173       0.316
x3          1.937e+04   1.25e+04      1.549      0.132   -6169.520    4.49e+04
x4          1.104e+04   1.24e+04      0.889      0.381   -1.43e+04    3.64e+04
==============================================================================
Omnibus:                        4.222   Durbin-Watson:                   1.777
Prob(Omnibus):                  0.121   Jarque-Bera (JB):                2.802
Skew:                          -0.532   Prob(JB):                        0.246
Kurtosis:                       3.887   Cond. No.                     1.62e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.62e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [166]:
y_pred = model.predict(X_train)
df = pd.DataFrame(data = y_train ,columns =['y_test'])
df['y_pred'] = y_pred
df

       y_test         y_pred
0   165934.60  148659.091916
1   142784.65  137264.597899
2    75108.08   79388.570434
3    45855.41   45490.907134
4   111186.64  118468.789300
5   140099.04  142259.745123
6   110119.59   77915.783253
7   107609.84   84206.153580
8   137174.93  134086.788973
9    81680.49   93890.888020
10  128656.03  138914.064587
11   79940.98   89107.514330
12  162393.77  166504.313257
13  144489.35  137645.403412
14  117586.34  111455.929891
15  167173.12  156463.459615
16  135552.37  157718.396213
17   88421.91  110279.154390
18   24863.40   78333.669442
19  201974.06  191765.682519
20  151767.52  122137.656608
21  100131.14   85152.719436
22  118734.04  101832.500686
23  166304.51  112479.234614
24  118915.99  125618.046035
25  100890.19  110097.642936
26  121495.02  165932.394629
27  132958.86   92478.841792
28  159941.96  138064.246567
29   91187.76   94398.316205
30   59672.75  128392.471354
31  193083.99  170145.818873
32  202443.83  200233.898614
33   52741.73   75796.853393
34   75382.33   91676.674972

In [167]:
from sklearn.metrics import mean_squared_error,r2_score
print('MSE: %.2f' % mean_squared_error(y_train, y_pred))
print('R^2: %.2f' % r2_score(y_train, y_pred))

MSE: 601533636.06
R^2: 0.67

In [169]:
y_predict = model.predict(X_test)

In [170]:
df = pd.DataFrame(data = y_test ,columns =['y_test'])
df['y_predict'] = y_predict
df

       y_test      y_predict
0   113464.38  115461.823604
1   154441.40  116752.431812
2   156303.95  109355.885159
3    87980.83   81578.339831
4   201232.39  148732.264184
5   115190.31  167046.436015
6    91411.06   97376.313852
7   107665.56  113687.352617
8   120534.25  133127.010616
9   176369.94  134010.404218
10  106960.92  102322.236594
11  106661.51  111149.603728
12  115915.54  101572.400400
13  106894.80  137651.416443
14  134448.90  127098.082377

In [171]:
from sklearn.metrics import mean_squared_error,r2_score
print('MSE: %.2f' % mean_squared_error(y_test, y_predict))
print('R^2: %.2f' % r2_score(y_test, y_predict))

MSE: 825801728.10
R^2: 0.14

In [212]:
data1 = pd.read_csv('C:/Users/signi/Downloads/Linear Regression/Restaurant_Profit_Data1.csv')

In [213]:
data1.head()

,Miscellaneous_Expenses,Food_Innovation_Spend,Advertising,City,Profit,Year
0,138671.80,167497.20,475918.10,Chicago,202443.83,1990
1,153151.59,164745.70,448032.53,Mumbai,201974.06,1992
2,102919.55,155589.51,412068.54,Tokyo,201232.39,1995
3,120445.85,146520.41,387333.62,Chicago,193083.99,1991
4,93165.77,144255.34,370302.42,Tokyo,176369.94,1997

In [218]:
dd1 = pd.get_dummies(data1['City'])
dd1
data2 = pd.concat([data1.reset_index(drop=True),dd1],axis=1)
data2
data2 = data2.drop('City',axis=1)
data2

,Miscellaneous_Expenses,Food_Innovation_Spend,Advertising,Profit,Year,Chicago,Mumbai,Tokyo
0,138671.80,167497.20,475918.10,202443.83,1990,1,0,0
1,153151.59,164745.70,448032.53,201974.06,1992,0,1,0
2,102919.55,155589.51,412068.54,201232.39,1995,0,0,1
3,120445.85,146520.41,387333.62,193083.99,1991,1,0,0
4,93165.77,144255.34,370302.42,176369.94,1997,0,0,1
5,101588.71,134024.90,366995.36,167173.12,1992,1,0,0
6,148972.87,136763.46,131850.82,166304.51,1992,0,1,0
7,147304.06,132446.13,328010.68,165934.60,1990,0,0,1
8,150492.95,122690.52,315747.29,162393.77,1995,1,0,0
9,110453.17,125482.88,309115.62,159941.96,1994,0,1,0
10,112368.11,104061.08,233294.95,156303.95,2000,0,0,1
11,93564.61,102819.96,253878.55,154441.40,1999,0,1,0
12,129094.38,96011.75,253973.44,151767.52,1994,0,0,1
13,137269.07,94140.39,256798.93,144489.35,1997,0,1,0
14,158321.42,122091.24,260646.92,142784.65,2001,0,0,1
15,124390.84,116671.61,265910.23,140099.04,1999,1,0,0
16,123371.55,80161.11,268480.06,137174.93,1993,0,1,0
17,146851.58,96805.16,286708.31,135552.37,2000,1,0,0
18,115949.79,93897.16,299053.57,134448.90,1997,0,0,1
19,155288.11,88567.70,4134.00,132958.86,1994,1,0,0
20,115641.30,78401.86,302798.47,128656.03,1998,0,1,0
21,155547.43,80537.47,303871.29,121495.02,1993,1,0,0
22,124556.75,76142.56,307453.26,120534.25,1990,0,0,1
23,107525.03,69680.53,308902.73,118915.99,1992,0,0,1
24,101055.34,79192.01,144708.81,118734.04,1995,1,0,0
25,141327.16,66812.71,142096.62,117586.34,1991,0,1,0
26,145909.98,77476.87,138184.07,115915.54,1997,0,0,1
27,129638.55,74255.60,357317.81,115190.31,1992,1,0,0
28,184419.56,68199.52,122282.20,113464.38,1992,0,0,1
29,154806.06,67753.48,111272.38,111186.64,1990,1,0,0
30,117415.28,64142.48,95265.24,110119.59,1995,0,0,1
31,154475.92,63284.38,92352.23,107665.56,1994,1,0,0
32,130993.61,65556.86,50219.25,107609.84,2000,0,1,0
33,104831.49,57641.95,218768.81,106960.92,1999,0,0,1
34,159467.92,48574.07,214931.67,106894.80,1994,0,1,0
35,86821.44,48162.02,209651.64,106661.51,1997,1,0,0
36,128830.21,30811.76,205260.82,100890.19,2001,0,0,1
37,53057.14,46217.95,201163.42,100131.14,1999,0,1,0
38,67721.93,22377.59,189399.10,91411.06,1993,1,0,0
39,84756.09,40706.51,179133.30,91187.76,2000,0,1,0
40,120320.05,30902.33,176929.67,88421.91,1997,0,1,0
41,86484.77,30040.92,168604.71,87980.83,1994,0,0,1
42,97963.63,25788.93,152135.11,81680.49,1998,0,1,0
43,129156.30,17653.73,39668.17,79940.98,1991,1,0,0
44,156580.14,24325.74,32468.72,75382.33,1997,0,1,0
45,125927.04,3148.23,6037.93,75108.08,1992,1,0,0
46,117590.21,3463.46,301248.46,59672.75,1992,0,0,1
47,137200.92,2148.00,4134.00,52741.73,1990,0,1,0
48,53517.15,2690.05,4134.00,45855.41,1995,1,0,0
49,118757.80,2148.00,49307.06,24863.40,1997,0,1,0

In [219]:
data2.head()

,Miscellaneous_Expenses,Food_Innovation_Spend,Advertising,Profit,Year,Chicago,Mumbai,Tokyo
0,138671.80,167497.20,475918.10,202443.83,1990,1,0,0
1,153151.59,164745.70,448032.53,201974.06,1992,0,1,0
2,102919.55,155589.51,412068.54,201232.39,1995,0,0,1
3,120445.85,146520.41,387333.62,193083.99,1991,1,0,0
4,93165.77,144255.34,370302.42,176369.94,1997,0,0,1

In [222]:
features = ["Miscellaneous_Expenses","Food_Innovation_Spend","Advertising",'Year','Chicago','Tokyo']
response = ["Profit"]
# X is independent variables
# Y is dependent variable
X=data2[features].values
y=data2[response].values
X

array([[1.3867180e+05, 1.6749720e+05, 4.7591810e+05, 1.9900000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.5315159e+05, 1.6474570e+05, 4.4803253e+05, 1.9920000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.0291955e+05, 1.5558951e+05, 4.1206854e+05, 1.9950000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.2044585e+05, 1.4652041e+05, 3.8733362e+05, 1.9910000e+03,
        1.0000000e+00, 0.0000000e+00],
       [9.3165770e+04, 1.4425534e+05, 3.7030242e+05, 1.9970000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.0158871e+05, 1.3402490e+05, 3.6699536e+05, 1.9920000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.4897287e+05, 1.3676346e+05, 1.3185082e+05, 1.9920000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.4730406e+05, 1.3244613e+05, 3.2801068e+05, 1.9900000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.5049295e+05, 1.2269052e+05, 3.1574729e+05, 1.9950000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.1045317e+05, 1.2548288e+05, 3.0911562e+05, 1.9940000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.1236811e+05, 1.0406108e+05, 2.3329495e+05, 2.0000000e+03,
        0.0000000e+00, 1.0000000e+00],
       [9.3564610e+04, 1.0281996e+05, 2.5387855e+05, 1.9990000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.2909438e+05, 9.6011750e+04, 2.5397344e+05, 1.9940000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.3726907e+05, 9.4140390e+04, 2.5679893e+05, 1.9970000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.5832142e+05, 1.2209124e+05, 2.6064692e+05, 2.0010000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.2439084e+05, 1.1667161e+05, 2.6591023e+05, 1.9990000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.2337155e+05, 8.0161110e+04, 2.6848006e+05, 1.9930000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.4685158e+05, 9.6805160e+04, 2.8670831e+05, 2.0000000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.1594979e+05, 9.3897160e+04, 2.9905357e+05, 1.9970000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.5528811e+05, 8.8567700e+04, 4.1340000e+03, 1.9940000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.1564130e+05, 7.8401860e+04, 3.0279847e+05, 1.9980000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.5554743e+05, 8.0537470e+04, 3.0387129e+05, 1.9930000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.2455675e+05, 7.6142560e+04, 3.0745326e+05, 1.9900000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.0752503e+05, 6.9680530e+04, 3.0890273e+05, 1.9920000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.0105534e+05, 7.9192010e+04, 1.4470881e+05, 1.9950000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.4132716e+05, 6.6812710e+04, 1.4209662e+05, 1.9910000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.4590998e+05, 7.7476870e+04, 1.3818407e+05, 1.9970000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.2963855e+05, 7.4255600e+04, 3.5731781e+05, 1.9920000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.8441956e+05, 6.8199520e+04, 1.2228220e+05, 1.9920000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.5480606e+05, 6.7753480e+04, 1.1127238e+05, 1.9900000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.1741528e+05, 6.4142480e+04, 9.5265240e+04, 1.9950000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.5447592e+05, 6.3284380e+04, 9.2352230e+04, 1.9940000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.3099361e+05, 6.5556860e+04, 5.0219250e+04, 2.0000000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.0483149e+05, 5.7641950e+04, 2.1876881e+05, 1.9990000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.5946792e+05, 4.8574070e+04, 2.1493167e+05, 1.9940000e+03,
        0.0000000e+00, 0.0000000e+00],
       [8.6821440e+04, 4.8162020e+04, 2.0965164e+05, 1.9970000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.2883021e+05, 3.0811760e+04, 2.0526082e+05, 2.0010000e+03,
        0.0000000e+00, 1.0000000e+00],
       [5.3057140e+04, 4.6217950e+04, 2.0116342e+05, 1.9990000e+03,
        0.0000000e+00, 0.0000000e+00],
       [6.7721930e+04, 2.2377590e+04, 1.8939910e+05, 1.9930000e+03,
        1.0000000e+00, 0.0000000e+00],
       [8.4756090e+04, 4.0706510e+04, 1.7913330e+05, 2.0000000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.2032005e+05, 3.0902330e+04, 1.7692967e+05, 1.9970000e+03,
        0.0000000e+00, 0.0000000e+00],
       [8.6484770e+04, 3.0040920e+04, 1.6860471e+05, 1.9940000e+03,
        0.0000000e+00, 1.0000000e+00],
       [9.7963630e+04, 2.5788930e+04, 1.5213511e+05, 1.9980000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.2915630e+05, 1.7653730e+04, 3.9668170e+04, 1.9910000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.5658014e+05, 2.4325740e+04, 3.2468720e+04, 1.9970000e+03,
        0.0000000e+00, 0.0000000e+00],
       [1.2592704e+05, 3.1482300e+03, 6.0379300e+03, 1.9920000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.1759021e+05, 3.4634600e+03, 3.0124846e+05, 1.9920000e+03,
        0.0000000e+00, 1.0000000e+00],
       [1.3720092e+05, 2.1480000e+03, 4.1340000e+03, 1.9900000e+03,
        0.0000000e+00, 0.0000000e+00],
       [5.3517150e+04, 2.6900500e+03, 4.1340000e+03, 1.9950000e+03,
        1.0000000e+00, 0.0000000e+00],
       [1.1875780e+05, 2.1480000e+03, 4.9307060e+04, 1.9970000e+03,
        0.0000000e+00, 0.0000000e+00]])

In [225]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [237]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [238]:
model1 = LinearRegression()
model1 = model1.fit(X_train,y_train)

In [239]:
print(model1.coef_)
print(model1.intercept_)

[[ 1.54202493e-02  7.90146298e-01  2.98264363e-02 -5.61670135e+02
  -7.17492565e+02  2.87963334e+02]]
[1173674.11095775]

In [236]:
import statsmodels.api as sm
X_with_constant = sm.add_constant(X_train)
model1 = sm.OLS(y_train, X_with_constant)
results = model1.fit()
results.params
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.953
Model:                            OLS   Adj. R-squared:                  0.943
Method:                 Least Squares   F-statistic:                     95.42
Date:                Sat, 03 Sep 2022   Prob (F-statistic):           2.52e-17
Time:                        23:11:46   Log-Likelihood:                -369.44
No. Observations:                  35   AIC:                             752.9
Df Residuals:                      28   BIC:                             763.8
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.174e+06   1.08e+06      1.092      0.284   -1.03e+06    3.38e+06
x1             0.0154      0.078      0.198      0.845      -0.144       0.175
x2             0.7901      0.061     12.878      0.000       0.664       0.916
x3             0.0298      0.022      1.382      0.178      -0.014       0.074
x4          -561.6701    537.735     -1.045      0.305   -1663.171     539.830
x5          -717.4926   4135.168     -0.174      0.863   -9187.999    7753.014
x6           287.9633   4952.411      0.058      0.954   -9856.591    1.04e+04
==============================================================================
Omnibus:                       10.949   Durbin-Watson:                   2.362
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               12.494
Skew:                          -0.874   Prob(JB):                      0.00194
Kurtosis:                       5.347   Cond. No.                     1.72e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.72e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [240]:
y_pred = model1.predict(X_train)
df = pd.DataFrame(data = y_train ,columns =['y_test'])
df['y_pred'] = y_pred
df

       y_test         y_pred
0   165934.60  172945.179226
1   142784.65  156745.599280
2    75108.08   58719.187334
3    45855.41   55498.781691
4   111186.64  114474.217035
5   140099.04  152214.950847
6   110119.59  108764.092883
7   107609.84  105651.165878
8   137174.93  127514.758971
9    81680.49   77882.479850
10  128656.03  124220.736906
11   79940.98   71795.190801
12  162393.77  161106.413782
13  144489.35  136179.651517
14  117586.34  114598.222762
15  167173.12  172521.674305
16  135552.37  136922.561606
17   88421.91   83568.759001
18   24863.40   57018.013670
19  201974.06  200725.255716
20  151767.52  139420.943377
21  100131.14   94232.594732
22  118734.04  120872.418537
23  166304.51  169120.181843
24  118915.99  121044.507852
25  100890.19   82514.724272
26  121495.02  128646.400226
27  132958.86  125485.692644
28  159941.96  163776.726925
29   91187.76   89147.806427
30   59672.75   68650.243109
31  193083.99  183854.025026
32  202443.83  203913.636166
33   52741.73   59886.750732
34   75382.33   74622.675070

In [241]:
# Test score
from sklearn.metrics import mean_squared_error,r2_score
print('MSE: %.2f' % mean_squared_error(y_train, y_pred))
print('R^2: %.2f' % r2_score(y_train, y_pred))

MSE: 86262868.25
R^2: 0.95

In [243]:
y_predict = model1.predict(X_test)

In [244]:
df = pd.DataFrame(data = y_test ,columns =['y_test'])
df['y_predict'] = y_predict
df

       y_test      y_predict
0   113464.38  115493.800766
1   154441.40  141153.403152
2   156303.95  141536.381949
3    87980.83   84091.040475
4   201232.39  190246.210774
5   115190.31  125439.071868
6    91411.06   77922.997758
7   107665.56  108126.882184
8   120534.25  127493.198050
9   176369.94  178771.077800
10  106960.92  104870.668805
11  106661.51   96948.369430
12  115915.54  119896.382635
13  106894.80  100954.163497
14  134448.90  137206.984280

In [245]:
# Test score
from sklearn.metrics import mean_squared_error,r2_score
print('MSE: %.2f' % mean_squared_error(y_test, y_predict))
print('R^2: %.2f' % r2_score(y_test, y_predict))

MSE: 68895120.14
R^2: 0.93

In [262]:
# Exponentional Value of Test pred

df1 =  np.log(df)
df1

       y_test  y_predict
0   11.639244  11.656972
1   11.947570  11.857603
2   11.959558  11.860312
3   11.384874  11.339655
4   12.212216  12.156074
5   11.654341  11.739575
6   11.423122  11.263476
7   11.586785  11.591061
8   11.699689  11.755818
9   12.080339  12.093861
10  11.580219  11.560483
11  11.577416  11.481934
12  11.660617  11.694383
13  11.579600  11.522422
14  11.808939  11.829246

In [263]:
df1 = np.exp(df1)
df1

       y_test      y_predict
0   113464.38  115493.800766
1   154441.40  141153.403152
2   156303.95  141536.381949
3    87980.83   84091.040475
4   201232.39  190246.210774
5   115190.31  125439.071868
6    91411.06   77922.997758
7   107665.56  108126.882184
8   120534.25  127493.198050
9   176369.94  178771.077800
10  106960.92  104870.668805
11  106661.51   96948.369430
12  115915.54  119896.382635
13  106894.80  100954.163497
14  134448.90  137206.984280